## 변수 선언, 연산

In [ ]:
a = 3
b = 3.5
c = 'Hello'
d= "SKI"
# how to use print
print(a,b,c,d)

3 3.5 Hello SKI

In [ ]:
# a=3, b=3.5, c=Hello ~출력
print('a=',a,', b=',b,',c=',c,',d=',d)

a= 3 , b= 3.5 ,c= Hello ,d= SKI

In [ ]:
# 변수명을 이름은 name, 나이는 age, 평점은 grade 선언하고 값을 grade 9.9
# 출력 이름은 = '홍길동', 나이 = 25, 평점=9.9 
name = "태은"
age = 28
grade = 1009.123455
print('이름은=',name,' 나이=',age, ' 평점=',grade)

이름은= 태은  나이= 28  평점= 1009.123455

In [ ]:
#format 함수 이용하여 문자열 
print('이름은 {}, 나이는 {}, 평점은 {:,.2f}' .format(name,age,grade))

이름은 태은, 나이는 28, 평점은 1,009.12

In [ ]:
# 변수에 10,20을 할당하고 더하기, 빼기, 나누기, 곱하기, 몫, 나머지 결과 출력하기
a = 10
b = 20
# addition
add = a+b
# subtraction
subt = a-b
# division
div = a/b
# multiplication
mult = a * b
# 몫
m = a//b
# leftover
left = a%b
print(add,subt,div,mult,m,left)

30 -10 0.5 200 0 10

# 문자열 선언, 사용

In [ ]:
data = "HelloSKI"
print(data)

data1= """
    Hi
    there
"""
print(data1)

In [ ]:
a = 3
#checking the type
a = 3.45
type(a)
a='3.45'
type(a)
# change the type (function) 
b = '3'
c= '3.45'
# if you add two strings, it just appends to the end
print(b+c)

# change each string to int and float, and then add the two
b1 = int(b)
c1 = float(c)
print(b1+c1)

In [ ]:
#키보드로부터 값을 입력받아 실습
data = input('값을 넣어주세요')
print(data)
# whatever value you put it in the input, the type is always "STRING"
print(type(data))

In [ ]:
test = 'Hello-SKI'
# indexing 이용하여 I 출력
a = test[-1]
# slicing 이용하여 SKI 출력
b = test[6:]
print(b)
# slicing 이용하여 IKS 출력
c = test[::-1]
c1 = c[:3]
#or
c = test[-1:-4:-1]
# slicing 이용하여 Hello 출력
d=test[:5]
print(a,b,c                                                                                                                                                                                               ,d)

In [ ]:
# str formating 
'my name is {}, {} years old'.format('Park','28')

# 문자열 관련 함수 연습

In [ ]:
info='SKI,10,SK,100000'
# 하나의 문자열을 , 로 구분하여 나누어보기
result=info.split(',')
print(result)
# use slicing from the list
result[2:]

['SKI', '10', 'SK', '100000']

['SK', '100000']

In [ ]:
#result 값을 구분자 : 로 묶어 하나의 문자열로 만들어 출력해보자
sep = ":"
sep.join(result)
# or
newresult = ":".join(result)
print(newresult)

SKI:10:SK:100000

In [ ]:
# change : to - in the dataset
newnew=newresult.replace(":","-")
print(newnew)

SKI-10-SK-100000

# Python 자료구조 (List)
### List 생성, 조회, 수정, 삭제

In [ ]:
# make a list
testL = [4,3,1,2,7]
print(testL)

[4, 3, 1, 2, 7]

In [ ]:
# data 조회
# indexing 이용하여 2 출력하기
print(testL[3])
# 3,1,2 slicing 이용하여 출력
print(testL[1:4])

2
[3, 1, 2]

In [ ]:
# data 추가
# append, insert 함수 
## append function adds the value at the end
## insert function adds the value at the certain index
# testL.append(10)
# print(testL)
testL.insert(-1,30)
print(testL)

[4, 3, 1, 2, 30, 7]

In [ ]:
# data value 수정
print(testL)
testL[-2]=-30
print(testL)

[4, 3, 1, 2, 30, 7]
[4, 3, 1, 2, -30, 7]

In [ ]:
#data 삭제: del(keyword). remove, pop
# del uses INDEX
del testL[2]
print(testL)
# remove uses value - 맨 처음 나오는 값으로 삭제
testL.remove(2)
print(testL)
# pop uses index
testL.pop(1)
print(testL)

[4, 3, 2, -30, 7]
[4, 3, -30, 7]
[4, -30, 7]

# Python 자료구조 (Dictionary)

In [ ]:
myDict = {'name':'zic', 'price':500000, 'maker':'SKI', 'info':'넘좋아~'}
print(myDict)

{'name': 'zic', 'price': 500000, 'maker': 'SKI', 'info': '넘좋아~'}

In [ ]:
# 데이터 조회
print(myDict['name'])

# 데이터 수정
myDict['name1']='불스원샷'
print(myDict)

# 데이터 삭제
del myDict['name1']
print(myDict)

bulls
{'name': 'bulls', 'price': 500000, 'maker': 'SKI', 'info': '넘좋아~', 'name1': '불스원샷'}
{'name': 'bulls', 'price': 500000, 'maker': 'SKI', 'info': '넘좋아~'}

In [ ]:
# keys() 함수 통해 딕셔너리 전체 키 값을 가져올 수 있다
print(myDict.keys())
for k in myDict.keys():
  print(k)

for k in myDict.keys():
  print(k,':', myDict[k])

dict_keys(['name', 'price', 'maker', 'info'])
name
price
maker
info
name : zic
price : 500000
maker : SKI
info : 넘좋아~

  # If Statement

In [ ]:
# even / odd 
# a = 3 
# 키보드로부터 입력받은 값 짝수, 홀수로 출력하기
a=int(input("값을 넣어주세요")) 


# if statement
if a%2 == 0 :
  print("it is an even number")
else:
  print("it is an odd number")

값을 넣어주세요4
it is an even number

In [ ]:
# input any value between 0~100
# if value > 90: A, value > 80:B, value > 70:C, value < 70: 열심히 하세요.
a = int(input("점수를 넣어주세요.."))

if a >= 90:
  print("A")
elif a >= 80:
  print("B")
elif a >= 70:
  print("C")
else:
  print("열심히 하세요")

점수를 넣어주세요..88
B

# For Statement

In [ ]:
data = "helloski"
for i in data[5:]:
  print(i) #returns each letter one by one

foodL = ['떡볶이', '부대찌개', '김치', '닭발']
for i in foodL:
  print (i) #print each value one by one

for i in range(4):
  print (i) # print 0,1,2,3

for i in range(3):
  print (foodL) # print in a list version

for i in range(4):   #this gives the index, four
  print ('{}번 {}'.format(i+1, foodL[i])) # print each value one by one by using index

# better version using 'len' function
for i in range(len(foodL)):
  print ('{}번 {}'.format(i+1, foodL[i]))

s
k
i
떡볶이
부대찌개
김치
닭발
0
1
2
3
['떡볶이', '부대찌개', '김치', '닭발']
['떡볶이', '부대찌개', '김치', '닭발']
['떡볶이', '부대찌개', '김치', '닭발']
1번 떡볶이
2번 부대찌개
3번 김치
4번 닭발
1번 떡볶이
2번 부대찌개
3번 김치
4번 닭발

In [ ]:
result = [90,35,68,44,81]

for i in range(len(result)):
  if result[i] >= 60:
    print ('{}번 학생은 합격입니다' .format(i+1))
  else:
    print ('{}번 학생은 불합격입니다' .format(i+1))

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [ ]:
# 아래 리스트를 다음과 같이 출력하세요 -> ['짝', '짝', '홀', '짝', '홀']
dataL = [4,2,1,10,3]

#create an empty list
result = list()

#create a for loop
for i in range(len(dataL)):
  if dataL[i] % 2 == 0:
    result.append ('짝')
  else:
    result.append ('홀')

print(result)

['짝', '짝', '홀', '짝', '홀']

# Function

In [ ]:
# how to declare a function
def calc(a,b):
  c = a + b
  return c

# how to use a function

result = calc(2,4) 
print(result)

6

In [ ]:
data = input('데이터를 입력하세요') 
print(data)

데이터를 입력하세요88
88

In [ ]:
# How to use SORTING
myL = [3,4,1,10]
#sort 함수 이용해서 오름차순으로 sorting 하고 print
print(myL.sort()) # gives none bc sort() function does not have 'returning' function 
print(myL)

None
[1, 3, 4, 10]

In [ ]:
print(sorted(myL)) # this includes returning the value

[1, 3, 4, 10]

In [ ]:
#2 default 매개변수 
def calc1(end, start=0):
  print('start : {}, end {}' .format(start, end))

calc1(4)

start : 0, end 4

In [ ]:
import pandas as pd
pd.read_csv?

In [ ]:
#3. keyword 매개변수
def showinfo(name,age):
  print('이름은', name, '나이는', age)

showinfo("박태은", 28)
showinfo(age=28, name='박태은') # assign the value correctly

이름은 박태은 나이는 28
이름은 박태은 나이는 28

In [ ]:
#4. 가변 매개변수 -> *args: tuple, **args: dictionary
def calc3(*args):
  print(args[1])

calc3(3,4,5)
calc3(1,2,3,4,5)

4
2

In [ ]:
# function 구현
# 함수명: getMean(data) -> 전달받은 list mean value

import math
    
def getMean(data):
  sum_data = 0
  # find the sum of the list
  for i in data:
    sum_data = sum_data + i
  print ('total_sum:', sum_data)
  # round it to two decimal places
  avg = round(sum_data / len(data), 2)
  return avg

getMean([3,2,1,5])

total_sum: 11

2.75

# 모듈 사용법

In [ ]:
# Math related Module
#1. import "module name" 
import math

In [ ]:
# what this module provides - 조회
dir(math)
print(math.sqrt(25))

5.0

In [ ]:
# import Module Name as Acronym (ex. import pandas ad pd)
import math as mt
print(mt.sqrt(25))

5.0

In [ ]:
# from Module Name import variable name / function name ...
from math import sqrt
sqrt(42)

In [ ]:
test='13579'
test[::-2]

'951'